<li class="card">
    <img src="{{image}}" alt="{{make}} {{model}}">
    <h1>{{make}} {{model}}</h1>
    <div class="name-year">
        <p>{{year}}</p>
        <p>${{price}}/day</p>
        <button id="car-{{id}}" class="book-btn">Rent</button>
    </div>
</li>