<li class="card">
    <a href="" id="car-{{id}}">
        <div class="image">
            <img src="{{image}}" alt="{{make}} {{model}}">
            <div class="image-overlay">
                <div class="overlay-text">{{make}}</div>
            </div>
        </div>
        <h1>{{make}} {{model}}</h1>
        <div class="name-year">
            <p>Year: {{year}}</p>
            <p>${{price}}/day</p>
        </div>
    </a>
</li>