<li class="card">
    <a href="" id="car-{{id}}">
        <img class="image" src="{{location.cars.[11].image}}" alt="{{location.cars.[11].make}} {{location.cars.[11].model}}">
        <h1>{{location.cars.[11].make}} {{location.cars.[11].model}}</h1>
        <div class="name-year">
            <p>Year: {{location.cars.[11].year}}</p>
            <p>${{location.cars.[11].price}}/day</p>
        </div>
    </a>
</li>