<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals | Book Now</title>
    <link rel="stylesheet" href="/css/booknow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <div id="container">
        <nav id="main-nav">
            <div id="logo-center">
                <a id="lux-txt" href="/">Luxury Rentals</a>
            </div>
            <div class="nav-right top-nav">
                <a href="/">Home</a>
                <a href="/rentals">Rentals</a>
                <a href="/contact">Contact</a>
                {{#if logged_in}}
                <div class="account-dropdown">
                    <a id="account" href="/account">Account <span class="down-icon3"><i
                                class="fas fa-chevron-down"></i></span></a>
                    <div class="dropdown-content">
                        <a class="logout" href="">Logout</a>
                    </div>
                </div> {{else}}
                <a href="/login">Login</a>
                {{/if}}
                <a href="/book-now/0/0"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
    </div>

    <article>
        <div id="main-box">
            <div id="left">
                <p>Rental Location:</p>
                <select id="location-selector" class="dropdown" name="dropdown">
                    <option value="0"> -- Select a Location -- </option>
                    {{#each cities as |city|}}
                    <option id="city-{{city.id}}" value="{{city.id}}">{{city.city}}, {{city.airport}}</option>
                    {{/each}}
                </select>
                <p>Vehicle Selection:</p>
                <select id="vehicle-selector" class="dropdown" name="dropdown">
                    <option value="0"> -- Select a Car -- </option>
                    {{#each cars as |car|}}
                    <option id="car-{{car.id}}" value="{{car.id}}">{{car.make}} {{car.model}}</option>
                    {{/each}}
                </select>
                <p>Choose Pickup Date:</p>
                <input type="text" id="numder-days" placeholder="How many days?">
                <p>Choose Dropoff Date:</p>
                <input type="text" id="number-days" placeholder="How many days?">
                <div id="foo">
                    <input id="start-date" type="text" name="start">
                    <span>to</span>
                    <input id="end-date" type="text" name="end">
                </div>
            </div>

            <div id="right">
                <div id="img-generator">
                    <img id="img-right">
                </div>
                <p id="price-generator"></p>
                <div id="bottom-right">
                    <p id="total-purchase"></p>
                    <a href="#"><button class="confirm-btn">Confirm</button></a>
                </div>
            </div>
        </div>
    </article>

    <footer id="bottom-footer">
        <a id="h6" href="/">Luxury Rentals*</a>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            {{#if logged_in}}
            <a class="logout" href="">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/booknow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</body>