<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxury Rentals | Book Now</title>
    <link rel="stylesheet" href="/css/booknow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>

<body>
    <div id="container">
        <nav id="main-nav">
            <div id="logo-center">
                <a id="lux-txt" href="/">Luxury Rentals</a>
            </div>
            <div class="nav-right top-nav">
                <a href="/">Home</a>
                <a href="/rentals">Rentals</a>
                <a href="/contact">Contact</a>
                {{#if logged_in}}
                <div class="dropdown">
                    <a id="account" href="/account">Account <span class="down-icon3"><i class="fas fa-chevron-down"></i></span></a>
                    <div class="dropdown-content">
                        <a class="logout" href="">Logout</a>
                    </div>
                </div> {{else}}
                <a href="/login">Login</a>
                {{/if}}
                <a href="/book-now"><button class="book-now-btn nav-btn">Book Now</button></a>
            </div>
        </nav>
    </div>

    <!-- CANT ACCESS THIS PAGE UNLESS LOGGED IN -->

    <article>
        <div id="main-box">
            <div id="left">
                <p>Rental Location:</p>
                <select class="dropdown" name="dropdown">
                    <option disabled selected value> -- Select a Location -- </option>
                    {{#each cities as |city|}}
                    <option value="{{city.id}}" id="location-selector">{{city.city}}, {{city.airport}}</option>
                    {{/each}}
                </select>
                <p>Vehicle Selection:</p>
                <select class="dropdown" name="dropdown">
                    <option disabled selected value> -- Select a Car -- </option>
                    {{#each cars as |car|}}
                    <option value="{{car.id}}" id="vehicle-selector">{{car.make}} {{car.model}}</option>
                    {{/each}}
                </select>
                <p>Choose Pickup Date:</p>
                <input type="text" id="numder-days" placeholder="How many days?">
                <p>Choose Dropoff Date:</p>
                <input type="text" id="numder-days" placeholder="How many days?">
            </div>

            <div id="right">
                <div id="img-generator">
                    {{!-- <img id="img-right" src="{{booking.cars.[0].image}}"
                        alt="{{booking.cars.[0].make}} {{booking.cars.[0].model}}"> --}}
                </div>
                {{!-- <p id="price-generator">${{booking.cars.[0].price}} per Day</p> --}}
                <div id="bottom-right">
                    <!-- Total $ will render based on amount of days selected -->
                    <p id="total-purchase">Total Rent Price: $500</p>
                    <a href="#"><button class="confirm-btn">Confirm</button></a>
                </div>
            </div>
        </div>
    </article>

    <footer id="bottom-footer">
        <a id="h6" href="/">Luxury Rentals*</a>
        <div class="nav-right bootom-nav">
            <a href="/rentals">Rentals</a>
            <a href="/contact">Contact</a>
            {{#if logged_in}}
            <a class="logout" href="">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/booknow.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</body>